.container {
  height: 100vh;
  border-radius: 5px;
  margin-left: 0.5em;

  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  background-color: aliceblue;
}

.h3 {
  padding: 1.5em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Noto Sans", sans-serif;
  color: #263238;
}

.workView {
  height: 620px;
  overflow-y: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.workView::-webkit-scrollbar {
  display: none;
}
