.container {
  color: #263238;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;

  background-color: aliceblue;
  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  border-radius: 5px;

  padding-top: 1em;
  height: 875px;
  width: 107rem;
  min-width: 107rem;

  margin-top: 0.7em;
  margin-right: 0.5em;
}
.title {
  width: 15rem;
  text-align: center;
  padding: 0.5em 1.5em;
  font-size: 1.3rem;
  color: aliceblue;
  font-family: "Noto Sans", sans-serif;
  /* font-weight: bold; */
  background-color: #00aaef;

  margin: 1em 1.5em;
  border-radius: 10px;
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
}
.para {
  margin-left: 1em;
  margin-top: 0.8em;
  font-weight: 100;
}

/* ---------------------------------- */

.forms {
  width: 100%;
  /* height: 100vh; */

  padding-left: 2rem;
}
.form {
  margin: 0.2em;
  width: 350px;
  font-size: 0.9em;
}
.toggleContainer {
  width: 200px;
  position: relative;
  left: 490px;
  top: 243px;
  display: flex;
}
.text {
  margin-top: 15px;
  margin-right: 10px;
}
.toggle {
  height: 40px;
  width: 70px;
  margin: 0em;
  background-color: rgb(218, 214, 214);

  border-radius: 20px;
  padding-top: 10px;
  padding-left: 10px;
}
.table {
  margin-top: -40px;
  background-color: white;
  padding: 1em;
  width: 98%;
  height: 710px;
  border-radius: 10px;
  padding-left: 2em;
}

/* -------------------------------------------------- */
.buttons {
  position: relative;
  bottom: 449px;
  left: 125px;
  z-index: 100;
  width: 150px;
}

.pwdButton2 {
  color: #263238;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;

  opacity: 0.8;
  border-radius: 10px;
  border: 1px solid gray;
  margin: 0.5em 0em;
  width: 190px;
  height: 30px;
  font-size: 0.9em;
}
.pwdButton {
  color: #263238;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;

  background-color: aliceblue;
  border-radius: 10px;
  /* border: none; */
  margin: 0.5em 0em;
  width: 190px;
  height: 30px;
  font-size: 0.9em;
}

.submit {
  width: 70px;
  height: 30px;
  margin-right: 5px;

  color: #263238;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;

  background-color: #66dbff;
  border-radius: 10px;
  border: none;
  font-size: 0.9em;
}

.reset {
  font-size: 0.9em;
  width: 70px;
  height: 30px;

  color: #263238;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;

  border: none;
  border-radius: 10px;
  background-color: rgb(209, 209, 209);
}
.submit:hover {
  background-color: #00aaef;
  color: aliceblue;
}
.reset:hover {
  background-color: #263238;
  color: aliceblue;
}

.tr1 {
  height: 35px;
}
.td {
  width: 120px;
  font-size: 0.9em;
  color: #02678f;
}
.td2 {
  font-size: 0.9em;
}
.td5 {
  width: 120px;
  height: 0px;
  font-size: 0.9em;
  color: #02678f;
}
.form5 {
  margin: 0.2em;
  font-size: 0.9em;
  resize: none;
}

/* ------------------------ */
.fixed {
  font-size: 1.1em;
  /* background-color: rgb(218, 218, 218); */
  padding: 0.2em 0em;
  width: 120px;
  text-align: left;
  border-radius: 10px;
  margin-bottom: 0.5em;
}
.line {
  width: 99%;
  margin-top: -0.1em;
}

.flexible {
  font-size: 1.1em;
  /* background-color: rgb(218, 218, 218); */
  padding: 0.8em 0em 0.2em 0em;
  width: 120px;
  text-align: left;
  border-radius: 10px;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
