.card {
  width: 34.4rem;
  height: 15rem;
  margin: -0.2rem auto;
  border-radius: 10px;
  /* -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44); */

  display: flex;
  /* box-sizing: border-box; */
  border: none;
  background-color: aliceblue;
  z-index: 100;
}
.body {
  padding: 2rem;
  width: 60%;
}
.title {
  font-size: 0.7em;
  font-family: "Noto Sans", sans-serif;
  margin-top: 0.5em;
  color: #263238;
}
.cardContent {
  margin-bottom: 0.3em;
  font-size: 0.7rem;
}
.text {
  font-size: 16px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #263238;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  justify-content: ;
}
.date {
  margin-top: -7px;
  width: 100%;
  font-size: 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #007bbc;
  font-family: "Noto Sans", sans-serif;
}

.peoples {
  background-color: red;
}

.detailButton {
  border-radius: 0px 0px 10px 10px;
  box-sizing: border-box;
  background-color: #007bbc;
  height: 2.2rem;
  font-size: 1rem;
  border: none;
  width: 100%;
}

.chart {
  position: relative;
  left: 310px;
  top: -135px;
  width: 150px;
}
