.container {
  height: 100vh;
  width: 30rem;
  border-radius: 5px;
  margin-left: 0.5em;

  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  background-color: aliceblue;
}

.projectInfo {
  margin: 2em 2em 1em 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Noto Sans", sans-serif;

  color: #263238;
}

.h3 {
  font-weight: bold;
}

.p {
  margin-top: 1em;
  color: #007bbc;
}

.lists {
  display: flex;
  flex-direction: column;

  justify-content: center;
  width: 100%;
}
