.container {
  width: 93.5%;
  height: 15.55rem;
  border-radius: 10px 10px 5px 5px;
  border-bottom: 2px solid rgb(216, 216, 216);

  /* -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44); */
  margin: 1em;
  margin-bottom: 4em;
  background-color: #00aaef;
}
.title {
  font-size: 1.2em;
  color: aliceblue;
  border-radius: 20px;
  padding-left: 1rem;

  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  height: 3rem;
  line-height: 3rem;
}
.notices {
  height: 200px;
  /* border: 1px solid black; */
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.notices::-webkit-scrollbar {
  display: none;
}

.notice {
  width: 100%;
  background-color: aliceblue;

  height: 60px;
  box-sizing: border-box;
  cursor: pointer;

  white-space: nowrap;
  font-family: "Noto Sans", sans-serif;
  /* font-weight: bold; */
  overflow: unset;
  color: #263238;
}
.notice:hover {
  background-color: #a4e7fc;
  color: #263238;
}
.detail1 {
  font-weight: bolder;
}
.detail2 {
  font-size: 0.5em;
}
