.container {
  height: 100vh;
  width: 75rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  background-color: aliceblue;
  margin-left: 0.5em;
}

.up {
  display: flex;
}
.work {
  display: flex;
  flex-direction: column;
  width: 40%;
  /* border: 1px solid black; */
}

.title {
  margin: 1em;
  padding: 0.5em 1em;
  /* box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44); */
  border-radius: 10px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  background-color: #263238;
  color: aliceblue;
}

/* ------------------------------------------- */
.down {
  /* margin-top: 5rem; */
}
.calendarContainer {
  height: 500px;
  padding: 1em 2em;
  background-color: #263238;
  margin: 0 1.5em;
  padding-bottom: 1.5em;
  border-radius: 10px;
}

.innerContainer {
  margin-top: 10px;
  height: 450px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.innerContainer::-webkit-scrollbar {
  display: none;
}
