.container {
  height: 875px;
  border-radius: 5px;

  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  background-color: aliceblue;
}


.h3 {
  padding: 1.5em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Noto Sans", sans-serif;
  color: #263238;
}

.listContainer {
  margin-left: 2.7em;
  width: 95%;
  padding: 1em;
  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);

  border-radius: 10px;
  background-color: #88e3ff;
}
.workView {
  height: 620px;
  overflow-y: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.workView::-webkit-scrollbar {
  display: none;
}

.commitListCard {
  border-left: 1px solid black;
}
