.container {
  height: 875px;
  border-radius: 5px;

  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  background-color: aliceblue;
  border-radius: 5px;
}

/* -------------------------------------------- */
.title {
  padding: 1.5em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Noto Sans", sans-serif;
  color: #263238;
}

.calendar {
  width: 95.5%;
  display: flex;

  margin-top: -1em;
  margin-left: 2.5em;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.button1 {
  width: 70px;
  height: 150px;
  border: none;
  border-radius: 0px 20px 10px 0px;
  background-color: #9be8ff;
  color: #263238;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}
.button1:hover {
  color: aliceblue;
  background-color: #00aaef;
}

.teamButton1 {
  width: 70px;
  height: 150px;
  border: none;
  border-radius: 0px 20px 10px 0px;
  background-color: #00aaef;
  color: aliceblue;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}
.teamButton1:hover {
  color: aliceblue;
  background-color: #00aaef;
}

/* --------------------------------------------------------- */
.button2 {
  width: 70px;
  height: 150px;
  border: none;
  border-radius: 0px 20px 10px 0px;
  background-color: #9be8ff;
  color: #263238;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}
.button2:hover {
  color: aliceblue;
  background-color: #00aaef;
}

.myButton2 {
  width: 70px;
  height: 150px;
  border: none;
  border-radius: 0px 20px 10px 0px;
  background-color: #00aaef;
  color: aliceblue;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}
.myButton2:hover {
  background-color: #00aaef;
}
