.noContainer {
  width: 520px;
  height: 300px;
  background-color: #b4ecfd;
  margin: 0.5em;
  border-radius: 20px;
  padding: 1em;

  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  transition: transform 0.1s ease-in;

  display: flex;
  border-top: 15px solid rgb(252, 89, 89);
  box-sizing: border-box;
}

.container {
  width: 520px;
  height: 300px;
  background-color: #b4ecfd;
  margin: 0.5em;
  border-radius: 20px;
  padding: 1em;

  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  transition: transform 0.1s ease-in;

  display: flex;
  border-top: 15px solid rgb(110, 189, 86);
  box-sizing: border-box;
}
.noContainer:hover {
  transform: translateY(-5px);
}
.container:hover {
  /* opacity: 0.8; */
  transform: translateY(-5px);
}

/* Boos ------------------------------------- */
.noBossContainer {
  width: 520px;
  height: 300px;
  background-color: #168cbb;
  margin: 0.5em;
  border-radius: 20px;
  padding: 1em;

  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  transition: transform 0.1s ease-in;

  display: flex;
  border-top: 15px solid rgb(252, 89, 89);
  box-sizing: border-box;
}

.Bosscontainer {
  width: 520px;
  height: 300px;
  background-color: #048dc4;
  margin: 0.5em;
  border-radius: 20px;
  padding: 1em;

  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  transition: transform 0.1s ease-in;

  display: flex;
  border-top: 15px solid rgb(110, 189, 86);
  box-sizing: border-box;
}
.noBossContainer:hover {
  transform: translateY(-5px);
}
.Bosscontainer:hover {
  /* opacity: 0.8; */
  transform: translateY(-5px);
}

/* -- LEFT ---------------------------------------------------- */
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  color: #263238;
  /* border: 1px solid black; */
}

.bossLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  color: aliceblue;
}

.imageContainer {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  background-color: white;
  margin-top: 1em;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
  background-color: myWhite;
}

.nickName {
  margin-top: 0.5em;
  font-size: 1.5em;

  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}

.rank {
  margin-left: 0.5em;
  font-size: 0.5em;
}

.buttomMail {
  margin-left: 10px;
  /* margin-right: 10px; */
  border: none;
  width: 30px;
  font-size: 0.8em;
  color: rgb(161, 124, 0);
  background-color: #b4ecfd;
}
.buttomBossMail {
  margin-left: 10px;
  /* margin-right: 10px; */
  border: none;
  width: 30px;
  font-size: 0.8em;
  color: rgb(219, 219, 54);
  background-color: #048dc4;
}

/* -- Right ------------------------------------------------------ */
.right {
  width: 100%;
  height: 80%;
  color: #263238;

  margin: auto;
  margin-right: 1em;
  padding-left: 10px;
}

.bossRight {
  width: 100%;
  height: 80%;
  color: aliceblue;

  margin: auto;
  margin-right: 1em;
  padding-left: 10px;
}

.oneTalk {
  /* border: 1px solid black; */
  height: 40%;
  border-radius: 10px;
  background-color: aliceblue;

  font-size: 0.9em;
  font-family: "Noto Sans", sans-serif;
  padding: 0.5em;
}
.table {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Noto Sans", sans-serif;
}

.tr {
  height: 26px;
}
.td {
  padding-left: 0.5em;
}
