@value myBlack, myBlue0, myBlue1, myBlue2, myBlue3 from '../../../common/common_css/common.css';
.body {
  height: 875px;
}
.leftBody {
  background-color: myBlue0;
  margin-right: 0.5em;

  border-radius: 5px;
  min-width: 30rem;
  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
}

.rightBody {
  width: 76.5rem;
  min-width: 76.5rem;
  display: flex;
  flex-direction: column;

  background-color: myBlue0;
  border-radius: 5px;
  margin-right: 0.5em;
  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
}

/* --------------------------------------- */
.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5em;
  margin-top: 2.5em;
  font-family: "Noto Sans", sans-serif;
  color: myBlue0;
  border-radius: 20px;
  background-color: myBlack;
  height: 4em;
}
.title {
  font-size: 1.2em;
  margin-left: 2em;
  font-weight: bold;
}
.projectNumber {
  margin-left: 1em;
  background-color: myBlue1;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  border-radius: 50%;
  font-size: 1.1em;
  color: myBlack;
}
/* ---------------------------------------------------------- */

.calender {
  height: 58vh;
  border-radius: 20px;
  margin: 1.5em 1.5em 0.5em 1.5em;
  background-color: myBlue2;
}
.dataList {
  height: 28vh;
  display: flex;
  justify-content: center;
}

.body {
  display: flex;
}
