@value myBorderRadius, myBlack, myGray, myBlue1, myBlue2, myBlue3,myBlue4, myWhite from '../common_css/common.css';

.container {
  width: 13rem;
  padding: 1rem;
  height: 875px;

  display: flex;
  flex-direction: column;

  background-color: #263238;
  border-radius: 5px;
  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
}
.bossContainer {
  width: 13rem;
  padding: 1rem;
  height: 875px;

  display: flex;
  flex-direction: column;

  background-color: #343d83;
  border-radius: 5px;
  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
}

.button {
  margin-top: 0.25em;
  margin-left: 0.4em;
  border-radius: 5px;

  width: 3em;
  height: 1em;
  padding-bottom: 1.7em;
  border: none;
  background-color: aliceblue;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;

  font-size: 0.9em;
  text-align: center;
}

.toggle {
  display: flex;
  margin-top: 4.5em;
  margin-left: 0.6em;

  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  width: 8.5rem;
  height: 3rem;

  background-color: rgb(201, 199, 199);
  padding: 0.5em 1em;
  border-radius: 40px;
}
.title {
  margin-right: 0.3em;
  margin-top: 3px;
}
