.container {
  width: 60%;
  height: 17rem;
  border-radius: 40px;

  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  margin: 1em 1.5em 1em 0em;
  background-color: #263238;
}

.title {
  font-size: 1.2em;
  color: aliceblue;
  border-radius: 20px;
  padding-left: 2rem;

  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  height: 3rem;
  line-height: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

/* ------------------------------------ */
.tableContainer {
  width: 100%;
  height: 190px;
  background-color: aliceblue;

  overflow-y: scroll;
  border-radius: 5px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.tableContainer::-webkit-scrollbar {
  display: none;
}

.table {
  width: 100%;
  height: 200px;

  margin: auto;
}

.tr {
  width: 100%;
  color: black;
  height: 40px;
  border: 1px solid #cbd4d8;
}
.tr:hover {
  background-color: #adecff;
}

.th {
  color: #263238;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  position: sticky;
}
.numtd {
  color: #263238;
  font-family: "Noto Sans", sans-serif;
  width: 10px;
  text-align: center;
}
.td {
  color: #263238;
  font-family: "Noto Sans", sans-serif;
  width: 40px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 7px;
  /* border: 1px solid black; */
}

.button {
  color: #263238;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;

  border-radius: 20px;
  background-color: #66dbff;
  border: none;
}
.button:hover {
  background-color: #007bbc;
  color: aliceblue;
}
