.container {
  width: 40%;
  height: 18.5rem;
  border-radius: 40px;

  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  margin: 1em;
  background-color: #263238;
}
.title {
  font-size: 1.2em;
  color: aliceblue;
  border-radius: 20px;
  padding-left: 2rem;

  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  height: 3rem;
  line-height: 3rem;
}
.notices {
  height: 200px;
  /* border: 1px solid black; */
  overflow-y: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.notices::-webkit-scrollbar {
  display: none;
}

.notice {
  width: 100%;
  background-color: aliceblue;
  height: 40px;
  box-sizing: border-box;
  cursor: pointer;
}
.notice:hover {
  background-color: #00aaef;
}

.noticeContent {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Noto Sans", sans-serif;

  color: #263238;
}
