@value myBlack, myBlue0, myBlue1, myBlue2, myBlue3 from '../../common/common_css/common.css';

.wholeContainer {
  display: flex;
  flex-direction: column;
}
.contentContainer {
  display: flex;
}
/* --------------------------------- */
.body {
  margin-left: 0.5em;
  border-radius: 5px;
}
