.container {
  color: #263238;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;

  background-color: aliceblue;
  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  border-radius: 5px;

  padding-top: 1em;
  margin-top: 0.7em;
  height: 875px;
  min-width: 107rem;
  margin-right: 0.5em;
}
.adminTitle {
  width: 15rem;
  text-align: center;
  padding: 0.5em 1.5em;
  font-size: 1.3rem;
  color: aliceblue;
  font-family: "Noto Sans", sans-serif;
  /* font-weight: bold; */
  background-color: #343d83;

  margin: 1em 1.5em;
  border-radius: 10px;
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
}
.title {
  width: 15rem;
  text-align: center;
  padding: 0.5em 1.5em;
  font-size: 1.3rem;
  color: aliceblue;
  font-family: "Noto Sans", sans-serif;
  /* font-weight: bold; */
  background-color: #00aaef;

  margin: 1em 1.5em;
  border-radius: 10px;
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
}
.warning {
  font-size: 0.9em;
  color: #cf3405;
  margin-left: 6.5em;
}
/* ---------------------------------------------------------------- */

.content {
  margin: 1em auto;
  width: 90%;
  height: 630px;
  border-radius: 10px;
  background-color: #d8e0e7;
  padding: 0.5em 2em;
}

/* ------------------------------------------------------------------- */
.header {
  display: flex;
  margin-top: 1em;
  padding: 1em;
  height: 40px;
  color: #263238;
  font-size: 1.1em;
}

.sendMan {
  margin-left: 1em;
  width: 1300px;
  padding-left: 1em;
}

/* ------------------------------------------------------------- */

.body {
  padding: 0.5em 1em;
  font-size: 1.1em;
  margin-top: 0.5em;
}
.labelTitle {
  margin-right: 2em;
}
.inputTitle {
  width: 1300px;
  padding-left: 1em;
}

/* --------------------------------------------------------------- */
.textarea {
  margin-left: 4em;
  width: 90.3%;
  height: 450px;
  margin-top: 1em;
  padding: 3em;
}

.sendButton {
  position: relative;
  left: 1370px;
  bottom: 640px;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 0.9em;

  background-color: #66dbff;
  border-radius: 5px;
  border: none;
  width: 120px;
  padding: 0.4em;
  color: #263238;
}
.sendButton:hover {
  background-color: #00aaef;
  color: aliceblue;
}

.adminButton {
  position: relative;
  left: 1370px;
  bottom: 640px;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 0.9em;

  background-color: #5e6cdb;
  border-radius: 5px;
  border: none;
  width: 120px;
  padding: 0.4em;
  color: aliceblue;
}
.adminButton:hover {
  background-color: #343d83;
  color: aliceblue;
}
