.container {
  height: 550px;
  padding: 1em;
  border-radius: 10px;
  /* -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44); */

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 96.5%;
  margin: 0px 1.5rem;
}

.table {
  width: 100%;
  height: 90%;
  border-top: 2px solid #007bbc;
}
.pagination {
  display: flex;
  margin-top: 0.5em;
  position: sticky;
  bottom: 0.5em;
}
.button {
  position: relative;
  left: 745px;
  bottom: 50px;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;

  background-color: #66dbff;
  border-radius: 5px;
  border: none;
  width: 120px;
  padding: 0.4em;
  color: #263238;
}
.button:hover {
  background-color: #00aaef;
  color: aliceblue;
}
