.container {
  color: #263238;
  font-family: "Noto Sans", sans-serif;

  background-color: aliceblue;
  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  border-radius: 5px;

  padding-top: 1em;
  margin-top: 0.7em;
  height: 875px;
}

.title {
  width: 15rem;
  text-align: center;
  padding: 0.5em 1.5em;
  font-size: 1.3rem;
  color: aliceblue;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  background-color: #00aaef;

  margin: 1em 1.5em;
  border-radius: 10px;
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
}
.adminTitle {
  width: 15rem;
  text-align: center;
  padding: 0.5em 1.5em;
  font-size: 1.3rem;
  color: aliceblue;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  background-color: #343d83;

  margin: 1em 1.5em;
  border-radius: 10px;
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
}

/* ------------------------------------------------------------- */

.contContainer {
  width: 90%;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
}

.header {
  margin: auto;
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  color: #263238;
  padding: 0.5em 0em;

  border-bottom: 2px solid #007bbc;
}

.titleContainer {
  display: flex;
  width: 100%;
  padding: 0.5em 1em;
}

.signal {
  height: 2em;
  line-height: 2em;
  width: 5em;
  background-color: #007bbc;
  color: aliceblue;
  margin-right: 1em;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
}
.adminSignal {
  height: 2em;
  line-height: 2em;
  width: 5em;
  background-color: #5e6cdb;
  color: aliceblue;
  margin-right: 1em;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
}

.titleValue {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 1px;
  color: #263238;
  overflow-x: hidden;
  width: 1000px;
  /* border: 1px solid black; */
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date {
  font-size: 0.9em;
  font-weight: 100;
  margin-top: 0.7em;
  font-family: "Noto Sans", sans-serif;
  color: #263238;
  width: 430px;
  /* border: 1px solid black; */
  text-align: right;
}
/* ----------------------------------------------------------- */

.charges {
  width: 100%;
  display: flex;
  margin-left: 1em;
  justify-content: flex-start;
  font-size: 0.9em;
  color: #007bbc;
}
.label {
  color: #263238;
}
.cell1 {
  margin-right: 1em;
}

.cell2 {
  margin-left: 1em;
  margin-right: 2.2em;
}
/* ---------------------------------------------------------- */

.contentBody {
  background-color: white;
  padding: 4em;
  height: 570px;
  margin: 1rem auto 1em auto;
  width: 100%;
  border-radius: 5px;
}
.buttonMod {
  position: relative;
  left: 1330px;
  width: 100px;
  height: 40px;

  border-radius: 10px;
  background-color: #5e6cdb;
  color: aliceblue;
  border: none;
}
.buttonDel {
  position: relative;
  left: 1340px;
  width: 100px;
  height: 40px;

  border-radius: 10px;
  background-color: #5e6cdb;
  color: aliceblue;
  border: none;
}
