.container {
  color: #263238;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;

  background-color: aliceblue;
  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  border-radius: 5px;

  padding-top: 1em;
  height: 875px;
  width: 107rem;
  min-width: 107rem;

  margin-top: 0.7em;
  margin-right: 0.5em;
}
.title {
  width: 15rem;
  text-align: center;
  padding: 0.5em 1.5em;
  font-size: 1.5em;
  color: aliceblue;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  background-color: #00aaef;

  margin-left: 0.5em;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
}
.content {
}
