.container {
  color: #263238;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;

  background-color: aliceblue;
  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  border-radius: 5px;

  padding-top: 1em;
  margin-top: 0.7em;
  height: 875px;
  min-width: 107rem;
  margin-right: 0.5em;
}
.title {
  width: 15rem;
  text-align: center;
  padding: 0.5em 1.5em;
  font-size: 1.3rem;
  color: aliceblue;
  font-family: "Noto Sans", sans-serif;
  /* font-weight: bold; */
  background-color: #00aaef;

  margin: 1em 1.5em;
  border-radius: 10px;
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
}
.adminTitle {
  width: 15rem;
  text-align: center;
  padding: 0.5em 1.5em;
  font-size: 1.3rem;
  color: aliceblue;
  font-family: "Noto Sans", sans-serif;
  /* font-weight: bold; */
  background-color: #343d83;

  margin: 1em 1.5em;
  border-radius: 10px;
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
}
.content {
  /* margin-top: 3em;
  margin-left: 2em; */
  /* width: 1640px; */
}
