.container {
  margin-left: 80rem;
  margin-bottom: 1em;
}

.select {
  height: 2.2em;
  width: 7em;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9em;
  color: #263238;
}

.input {
  height: 2.2em;
  font-size: 0.9em;
  width: 15em;
}
.button {
  height: 2.2em;
  width: 4em;
  margin-left: 0.1em;
  background-color: #263238;
  color: aliceblue;
  border: none;
  border-radius: 2px;
  font-size: 0.9em;
}

.button:hover {
  opacity: 0.8;
}

/* ------------------------------------------ */
