.container {
  color: #263238;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;

  background-color: aliceblue;
  -webkit-box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
  border-radius: 5px;

  padding-top: 1em;
  margin-top: 0.7em;
  height: 875px;
  min-width: 107rem;
  margin-right: 0.5em;
}
.title {
  width: 15rem;
  text-align: center;
  padding: 0.5em 1.5em;
  font-size: 1.3rem;
  color: aliceblue;
  font-family: "Noto Sans", sans-serif;
  /* font-weight: bold; */
  background-color: #00aaef;

  margin: 1em 1.5em;
  border-radius: 10px;
  box-shadow: 6px 7px 22px 0px rgba(0, 0, 0, 0.44);
}
.warning {
  font-size: 0.9em;
  color: #cf3405;
  margin-left: 6.5em;
}
/* ---------------------------------------------------------------- */

.content {
  margin: 1em auto;
  width: 90%;
  height: 630px;
  border-radius: 10px;
  background-color: #d8e0e7;
  padding: 0.5em 2em;
}

/* ------------------------------------------------------------------- */
.header {
  display: flex;
  margin-top: 1em;
  padding: 1em;
  height: 40px;
  color: #263238;
  font-size: 1.1em;
}
.input1 {
  width: 700px;
  margin-left: 1em;
  padding-left: 1em;
}
.sendMan {
  margin-left: 1em;
  width: 1300px;
  padding-left: 1em;
}
.searchLabel {
  margin-left: 16em;
  margin-right: 0.8em;
}
.button1 {
  background-color: #00aaef;
  border-radius: 5px;
  border: none;
  width: 3em;
  padding: 0.25em;
  margin-left: 0.2em;
  color: aliceblue;
}
.select {
  position: relative;
  left: 330px;
  bottom: 35px;
  width: 270px;
  height: 35px;
}
/* ------------------------------------------------------------- */

.body {
  padding: 0.5em 1em;
  font-size: 1.1em;
  margin-top: 0.5em;
}
.labelTitle {
  margin-right: 2em;
}
.inputTitle {
  width: 1300px;
  padding-left: 1em;
}

/* --------------------------------------------------------------- */
.textarea {
  margin-left: 4em;
  width: 90.3%;
  height: 450px;
  margin-top: 1em;
  padding: 3em;
}

.sendButton {
  width: 150px;
  margin-left: 92%;
  margin-top: 3em;
  height: 40px;
  border-radius: 10px;
  background-color: #4bc6f7;
  color: #263238;
  font-weight: bold;
  border: none;
  font-size: 1em;
}
.sendButton:hover {
  background-color: #007bbc;
  color: aliceblue;
}
