.container {
  width: 95%;
  height: 45%;
  border-radius: 5px;
  margin: 0.5em auto;
  text-align: center;
  padding-top: 6px;
  background-color: white;
}

.title {
  width: 25%;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;

  color: #263238;
  font-weight: bold;
  text-align: center;

  margin-left: 0.5em;
}

.content {
  background-color: #d9ddff;
  width: 95%;
  height: 285px;
  margin: auto;
  border-radius: 5px;
  padding: 1em 0em;

  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  display: flex;
  flex-wrap: wrap;
}
.content::-webkit-scrollbar {
  display: none;
}
/* --------------------------------- */
.card {
  width: 166px;
  margin: 5px 10px;
  height: 100px;
  background-color: #5e6cdb;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
}
.card:hover {
  opacity: 0.8;
}

.image {
  width: 40%;
  height: 65%;
  border-radius: 50%;
  margin: 0.9em 0.7em;
}
.cardContents {
  width: 40%;
  height: 90%;
  background-color: white;
  margin-left: 0.2em;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid #263238;
  border-top: 1px solid rgb(224, 240, 253);
  display: flex;
  flex-direction: column;
}
.text1 {
  padding-top: 1em;
  height: 80%;
  font-size: 0.7em;
  font-weight: bold;
}

.text2 {
  font-size: 0.5em;
  padding-bottom: 0.5em;
}
