.container {
  position: absolute;
  width: 380px;
  height: 370px;
  border-radius: 10px;
  top: 200px;
  left: 840px;

  background-color: #263238;
  opacity: 0.9;
  z-index: 100;
  padding: 2rem 2rem;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.exit {
  width: 25px;
  height: 25px;

  border-radius: 50%;
  font-size: 1em;
  background-color: aliceblue;
  border: none;
}
.exit:hover {
  opacity: 0.8;
}
.title {
  opacity: 1;
  color: aliceblue;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.label {
  margin-top: 1em;
  color: aliceblue;
  font-family: "Noto Sans", sans-serif;
}
.date {
  width: 38.5%;
  height: 40px;
  font-size: 1.1em;
  color: #263238;
  font-family: "Noto Sans", sans-serif;
  margin: 0.1em;
  padding: 1em;
}
.date1 {
  width: 59.5%;
  height: 40px;
  font-size: 1.1em;
  color: #263238;
  font-family: "Noto Sans", sans-serif;
  margin: 0.1em;
  padding: 1em;
}

.button1 {
  margin-top: 2em;
  height: 40px;
  width: 100%;
  font-size: 1.2em;
  color: #263238;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  background-color: #66dbff;
  border: none;

  border-radius: 10px;
  margin-right: 10px;
}
.button1:hover {
  background-color: #02c0fa;
}

.input {
  padding: 1em;
  margin-top: 0.2em;
  width: 100%;
  height: 45px;
  font-size: 1.1em;
  color: #263238;
  font-family: "Noto Sans", sans-serif;
}
