.container {
  background-color: #8b9699;
  color: #263238;
  width: 95%;
  height: 6em;
  margin: 0.5em auto;
  border-radius: 5px;

  display: flex;
  font-size: 0.9em;
}

/* left ----------------------------------------------- */
.left {
  width: 85%;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  background-color: white;
  padding: 0.5em;
}

/* ----------------------------- */
.top {
  display: flex;
  /* border: 1px solid black; */
  height: 30%;
}

.number {
  width: 60%;
  padding-left: 0.5em;
}
.date {
  width: 30%;
  text-align: right;
}
.dday {
  font-weight: bold;
  color: rgb(179, 1, 1);
  width: 10%;
  text-align: center;
}
/* ---------------------------- */
.middle {
  color: #263238;
  display: flex;
  /* border: 1px solid black; */
  height: 40%;
  font-size: 1.1em;
  padding: 0.1em 0em;
  font-weight: bold;
}

.work {
  padding-left: 0.5em;
}
.detail {
  padding-left: 0.5em;
}

.bottom {
  display: flex;
  height: 30%;
  justify-content: space-between;
  /* border: 1px solid black; */
}
.manager {
  margin-right: 2em;
}
/* right -------------------------------------------------- */
.right {
  width: 15%;
  height: 100%;
  /* background-color: blue; */
  padding: 1.8em 0.95em;
}
.btnConfirm {
  width: 4.5em;
  height: 2.5em;
  border-radius: 5px;
  border: none;
  background-color: #36b4f8;
  font-weight: 500;
  margin-right: 0.2em;
}
.btnConfirm:hover {
  background-color: #70c2e2;
}
.btnReject {
  width: 4.5em;
  height: 2.5em;
  border-radius: 5px;
  border: none;
  background-color: #384a53;
  color: aliceblue;
  font-weight: 500;
}
.btnReject:hover {
  background-color: #525b5f;
}

.ignore {
  margin: auto 2.5% auto 2.5%;
  padding: 0.5% 0.5% 0% 2.5%;
  margin-top: -8.5px;
  border-radius: 0 0 5px 5px;
  background-color: #8b9699;
  display: flex;
  height: 5%;
}

.ignoreInput {
  width: 76.4%;
  margin-top: 0rem;
  height: 20%;
  padding-left: 0.7rem;
}

.ignoreButton {
  margin-left: 1rem;
  margin-top: 0rem;
  margin-bottom: 0.7rem;
  width: 20.5%;
  height: 3rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(36, 30, 30);
  color: white;
  font-weight: 500;
}
.ignoreButton:hover {
  background-color: rgb(80, 75, 75);
}
